page-service {
    .service{
        font-size: 18px;
        color: #ff3194;
    }
    .date{
        color: #a7a7a7;
    }
    .my-fab{
        background-color: #d01fca;
    }
    .fab-md.activated{
        background-color: #d01fca !important;
    }
}
